<section class="bg-gray-50 h-screen">
  <div class="grid grid-cols-1 md:grid-cols-3 h-1/2 gap-0">
    <!-- Ingresos Card -->
    <div class="bg-white shadow flex flex-col items-center justify-center">
      <p class="text-3xl font-bold mb-3">General</p>
      <img
        src="https://img.icons8.com/?size=100&id=3685&format=png"
        class="w-32 h-32 mx-auto object-contain filter contrast-50 brightness-150"
        alt="General"
      />

      <button
        class="mt-4 text-white bg-gradient-to-r from-sky-600 to-cyan-500 px-9 py-3 space-x-4 rounded-lg font-semibold"
        (click)="general()"
      >
        Generar Reporte General
      </button>
    </div>

    <!-- Organizador de Tiempo -->
    <div class="bg-white shadow flex flex-col items-center justify-center">
      <p class="text-3xl font-bold mb-3">Cuadrillas</p>
      <img
        src="https://img.icons8.com/?size=100&id=3734&format=png"
        class="w-32 h-32 mx-auto object-contain filter contrast-50 brightness-150"
        alt="Cuadrillas"
      />

      <button
        class="mt-4 text-white bg-gradient-to-r from-sky-600 to-cyan-500 px-9 py-3 space-x-4 rounded-lg font-semibold"
        (click)="cuadrillas()"
      >
        Generar Reporte por Cuadrillas
      </button>
    </div>

    <!-- Rating de instaladores -->
    <div class="bg-white shadow flex flex-col items-center justify-center">
      <p class="text-3xl font-bold mb-3">Empleado</p>
      <img
        src="https://img.icons8.com/?size=100&id=11699&format=png"
        class="w-32 h-32 mx-auto object-contain filter contrast-50 brightness-150"
        alt="Empleado"
      />
      <!-- 
        <button
          class="mt-4 text-white bg-gradient-to-r from-sky-600 to-cyan-500 px-9 py-3 space-x-4 rounded-lg font-semibold"
          (click)="empleado()"
        >
          Ver Reporte por Empleado
        </button>
        -->
    </div>
  </div>
</section>
