<div
  class="relative min-h-screen flex items-center justify-center bg-cover bg-center"
  style="background-image: url('../fondo.png')"
>
  <div class="absolute inset-0 bg-blue-700 bg-opacity-40"></div>
  <!-- Capa de color con opacidad -->

  <div
    class="relative w-full max-w-lg p-10 space-y-8 bg-blue-600 bg-opacity-90 rounded-lg shadow-lg z-10"
  >
    <div class="text-center">
      <img src="../logo_frontal.png" alt="MEGA" class="mx-auto h-20" />
      <h2 class="mt-4 text-white text-2xl font-medium">
        Ingresa tus credenciales
      </h2>
    </div>
    <form class="space-y-6">
      <div>
        <label for="email" class="block text-lg font-medium text-white"
          >Usuario</label
        >
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-base"
          placeholder="usuario@megacable.mx"
        />
      </div>
      <div>
        <label for="password" class="block text-lg font-medium text-white"
          >Contraseña</label
        >
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
          class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-base"
          placeholder="Contraseña"
        />
      </div>
      <div>
        <button
          type="submit"
          class="w-full py-3 px-4 bg-orange-500 hover:bg-orange-600 text-white font-bold text-lg rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
        >
          LOGIN
        </button>
      </div>
    </form>
    <div class="flex justify-end">
      <a href="#" class="text-lg text-white hover:underline"
        >¿Olvidaste la contraseña?</a
      >
    </div>
  </div>
</div>
